body {
  padding-top: 40px;
  text-align: center;
  background-color: #000000;
}

nav {
  padding-left: 10px;
  text-align: left;
}

.time h1 {
  font-family: "Orbitron", "Lucida Grande", sans-serif;
  font-weight: 100;
  color: #ff0000;
  font-size: 6em ;
  text-align: center;
  margin-bottom: .25em;
}

a {
  cursor: pointer;
}

.tasks {
  border: 3px solid grey;
  border-radius: 3px;
  background-color: #000000;
  color: #ff0000;
}

.tasks-list {
  text-align: left;
}

.container {
  font-family: "Orbitron", sans-serif;
}

.jumbotron {
  background-color: #000000!important;
  border: 3px solid grey;
}
